@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
/* @import url('../public/PigpenCipher.otf'); */


#wrap {
    display: flex;
    height: 90%;
    flex: 9 1 auto;
}

#content {
    width: auto;
    flex: 1 1 auto;
    border-radius: 10px;
    background-image:
        radial-gradient(rgb(189, 173, 173) 10%, transparent 10%),
        radial-gradient(rgb(189, 173, 173) 10%, transparent 10%);
    background-position: 0px 0px, 8px 8px;
    background-size: 16px 16px;
    background-color: rgba(216, 199, 178, 0.242);
    margin: 0 20px 20px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center
}

#instruction {
    width: 40%;
    display: flex;
}

#instructionText {
    font-size: 10vh;
    margin-top: 50px;
    margin-left: 8vw;
    text-transform: uppercase;
    line-height: 110px;
    font-family: 'Roboto Slab', serif;
}