#riddle {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#riddleText {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 15%;
    font-size: 4vh;
}

hr {
    width: 95%;
    border: 1px solid rgba(0, 0, 0, 0.388);
    border-radius: 10px;
}

#answerForm {
    margin-top: 15%;
    width: 80%;
}

#answerForm>input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 5px solid rgb(0, 0, 0);
    font-size: 4vh;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 20px;
}