@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto
}

header>* {
    margin: 10px 50px !important;
}

#title {
    margin: 0;
    color: #062160;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

#title:hover {
    cursor: pointer;
}

.menu {
    width: 5%;
    cursor: pointer;
}

.menu::after {
    content: "";
    display: block;
    width: 70%;
    border-bottom: 2px solid #062160;
    transition: all 0.2s ease-in-out;
}

.menu::before {
    content: "";
    display: block;
    transform: translateX(40%);
    width: 70%;
    padding-top: 5px;
    border-top: 2px solid #062160;
    transition: all 0.2s ease-in-out;
}

.menu:hover::after,
.menu:hover::before {
    transform: translateX(20%);
}
