#menuWrap {
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.menuItem{
    font-size: 4vh;
    font-family: 'Roboto Slab', serif;
    padding: 5% 0;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 100px;
    background-color: #062160;
    transition: all 0.2s;
}

.menuItem:hover{
    background-color: #2d498a;
}